

section, div {
    border: 1px solid brown;
    padding: 10px;
    margin: 10px;
    height: 500px;
    
}

section {
    background-image: url(./images/scenery-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

div {
    background-image: url(./images/scenery-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
    
    
