
p2 {
    color: orange;
    font-weight: bolder;
    font-size: larger;
}

h3 {
    color: crimson;
    font-weight: bolder;
    font-size: larger;

}

h4 {
    color: violet;
    font-weight: bolder;
    font-size: larger;

}